<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <link rel="stylesheet" type="text/css" href="css/register.css">-->
<!--  <script src="/js/login.js"></script>-->
<!--</head>-->
<!--<body>-->
<!--  <form name="register">-->
<!--    <div class="container">-->
<!--      <h1>Sign up</h1>-->
<!--      <p>Please fill in the blank to sign up</p>-->
<!--      <hr>-->

<!--      <label for="emailRegister"><b>Email</b></label>-->
<!--      <input id="emailRegister" type="text" placeholder="Type Email" name="email" required>-->

<!--      <label for="usernameRegister"><b>Username</b></label>-->
<!--      <input id="usernameRegister" type="text" placeholder="Type Username" name="username" required>-->

<!--      <label for="passwordRegister"><b>Password</b></label>-->
<!--      <input id="passwordRegister" type="password" placeholder="Type password" name="psw" required>-->

<!--      <label for="repeatPasswordRegister"><b>Retype password</b></label>-->
<!--      <input id="repeatPasswordRegister" type="password" placeholder="Retype password" name="psw-repeat" required>-->

<!--      <label>-->
<!--        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> I agree all statements-->
<!--      </label>-->

<!--      <div class="clearfix">-->
<!--        <input onclick="registerAccount()" value="Register" class="signupbtn">-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/register.css">
  <script src="/js/login.js"></script>
</head>
<body>
<form name="register">
  <div class="container">
    <h1>Sign up</h1>
    <label for="emailRegister"><b>Email</b></label>
    <input id="emailRegister" type="text" placeholder="Type Email" name="email" required>

    <label for="usernameRegister"><b>Username</b></label>
    <input id="usernameRegister" type="text" placeholder="Type Username" name="username" required>

    <label for="passwordRegister"><b>Password</b></label>
    <input id="passwordRegister" type="password" placeholder="Type password" name="psw" required>

    <label for="repeatPasswordRegister"><b>Retype password</b></label>
    <input id="repeatPasswordRegister" type="password" placeholder="Retype password" name="psw-repeat" required>

    <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> I agree all statements
    </label>

    <div class="clearfix">
      <input onclick="registerAccount()" value="Register" class="signupbtn">
    </div>
    <div class="clearfix" style="text-align: center">
      <a href="/login" class="dnthave">Sign in</a>
    </div>
  </div>
</form>
</div>
</body>

<script>

</script>
</html>




